@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #17297f;
}

header {
    width: calc(100% - 120px);
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
}

header .logo img {
    height: 150px;
    width: auto;
}

div.container {
    margin: auto;
    padding: 10px;
    max-width: 1000px;
}

div.container .mobile-logo {
    display: none;
}

div.container section:not(:first-child) {
    margin-top: 50px;
}

div.container .date-info {
    margin-bottom: 50px;
}

.h-smaller {
    margin: 0;
    font-size: 3em;
    display: block;
}

.h-bigger {
    font-size: 4em;
    display: block;
}

div.content-wrapper {
    line-height: 150%;
}

div.content-wrapper img {
    float: right;
    margin: 15px;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px;
        width: calc(100% - 20px);
        margin: 0;
    }
    header .logo {
        display: none;
    }

    div.container .mobile-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    div.container .mobile-logo img {
        width: 80vw;
    }

    .h-bigger {
        font-size: 3em;
    }

    div.content-wrapper img {
        margin: 30px 0;
    }
}

/* text effects */

span.colorful--background {
    padding: 0 5px 0 5px;
    font-weight: 600;
}

span.colorful--background.blue {
    background: #009cdd;
}

span.colorful--background.green {
    background: #a2be3a;
}

.underline--magical {
    background-image: linear-gradient(120deg, #a2be3a 0%, #009cdd 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }

.underline--magical:hover {
    background-size: 100% 88%;
  }
